$primary-color: white;
.leftdiv {
    background: linear-gradient(180deg, #1fcd6f 0%, #028a49 84.79%, #027947 100%);
    background-color: #1fcc6f;
    height: 100vh;
}
@media screen and (min-width: 768px) {
    .leftdiv {
        margin-left: -20px;
        margin-top: -22px;
    }
    .leftdivlogo {
        height: 120px;
    }
    #leftdivpara1 {
        font-size: 2em;
        font-weight: bold;
        color: $primary-color;
    }
    #leftdivpara2 {
        font-size: 1em;
        margin-top: -1.5em;
        color: $primary-color;
    }
}

@media screen and(max-width:767px) {
    .leftdiv {
    }
    .leftdivlogo {
        height: 80px;
    }
    #leftdivpara1 {
        font-size: 1.3em;
        font-weight: bold;
        color: $primary-color;
    }
    #leftdivpara2 {
        font-size: 0.7em;
        margin-top: -2em;
        color: $primary-color;
    }
}

#leftdivbtn {
    background-color: #bc1819;
    color: $primary-color;
    border-radius: 1em;
}
#righttdivpara1 {
    font-weight: bold;
    margin-bottom: 0em;
}
#rightdivbtn {
    border-radius: 20px;
    color: $primary-color;
    background-color: #bc1819;
}
#rightdivanchor {
    text-decoration: none;
    color: black;
    font-size: 0.8em;
}
