#lessnav{
    margin-left: -30px !important;
}
#navul li{
    display:inline;
    margin-left: 15px;
}
#navul li:hover{
    border-bottom: 1px solid black;
}
.navlink{
    color: black;
}
.linkbtn{
    
    color: green;
    border-radius:1em;
    padding: 1em;
}
@media screen and(max-width:835px) {
    .linkbtn{
        font-size:0.5em;
        margin-bottom:20px;
        margin-top:10px
    }
}


    

